<a href="https://colab.research.google.com/github/ashish-pro/python-Learning/blob/master/Python_Basics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Output the values in python** *-- print()*

In [ ]:
print("Hello Python")

Hello Python

You can print multiple objects seperated by comma.

In [ ]:
print("Python","Data Science","'SQL",100)

Python Data Science 'SQL 100

**Commenting in python**

1- # This is a comment

In [ ]:
print("Hello Python")
#print("This is a comment")

Hello Python

**Declaring the variables and find its data types:**

To find the data type of veriable we use type() function

In [ ]:
#declaring variable
num = 100
# finding datatype
type(num)

int

**Basics Datatypes :-**     *Every value in python has a datatype. Since everything is an object in python programming, datatypes are actually classes and variables are instance(object) of these classes.*

**Some datatypes are :-** int, float, string, boolean, None



*   **input():-** function is use to take input from the user. It always returns a *string* value
*   **type-casting:-** converts one datatype into another

In [ ]:
# input from keyboard
name = input()
print(name)

Rohit
Rohit

In [ ]:

num = '8'
print(num)
print(type(num))

8
<class 'str'>

In the above code type() retuned as 'str'. But we need num as integer to perform mthematical operation, So we do typecasting.

In [ ]:
#typecasting
num = int(num)
print(type(num))
print(num)

<class 'int'>
8

**Output Formatting :-**

In [ ]:
a = 10
b= 20
print("The value of a is {} and b is {} ".format(a,b))

The value of a is 10 and b is 20

We can also specify the position of placeholder. *The greater is value the later will place.*

For above code, we can write print statement as follows.

In [ ]:
a = 10
b= 20
print("The value of a is {1} and b is {0} ".format(a,b))

The value of a is 20 and b is 10

In [ ]:
# Another example of output fromatting
name = input()
greetings = "Good Morinng"
print("Hello {n},{g}!. Welcome to python learning by Ashish".format(n=name,g=greetings))

Rohit
Hello Rohit,Good Morinng!. Welcome to python learning by Ashish

**Python Statements:-**

Instructions that a python interpreter can execute are clled statements.

In [ ]:
# Single Line statement
num = 5

In [ ]:
# Multiline Statement
num = 1+2+3+\
4+5+6+\
7+8
print(num)

36

**Operators In Python**

In [ ]:
# Arithmetic Operators:- +,  -, *,  /,  //, **, %

**Note:**

In arithmetic operator **/-(division)** always results in ***float***.

**floor-division** : always takes ***integer*** and represented ***by //***

**exponential** - represented by **

**modulus operator(%)** - return ***remainder***

In [ ]:
a = 12
b = 3
add = a + b
sub = a-b
mul = a*b
div = a/b
f_div = a // b
exp = a ** b
mod = a % b
print("a+b = {}".format(add))
print("a-b = {}".format(sub))
print("a*b = {}".format(mul))
print("a/b = {}".format(div))
print("a//b = {}".format(f_div))
print("a**b = {}".format(exp))
print("a%b = {}".format(mod))

a+b = 15
a-b = 9
a*b = 36
a/b = 4.0
a//b = 4
a**b = 1728
a%b = 0

**Comparision Operators:-**

This results returned by comparision operator is always boolean

In [ ]:
# Comparision Operators  >, <,  >=, <=, ==, !=

n = 12
b = 3
print(n>b)
print(n<b)
print(n>=b)
print(n<=b)
print(n==b)
print(n!=b)

True
False
True
False
False
True

**Logical Operators:**

**and :-** return true when both conditions are true, otherwise false

**or :-** return True, even when one of the condition is True. False if both condition are false.

**not :-** return negation

**Assignment Operators:**

In [ ]:
a = 5    # assigning value 5 to variable a
a = a+1
print(a)

6

**Some common abbreviation:**

a += 1  is same as a=a+1

a -= is same as a= a-1

......

# **Multiple Assignment:-**

In [ ]:
# multiple assignment
a,b,c = "ml", 34, 0.3
print(a,b,c)

ml 34 0.3

In [ ]:
a=b=c=70
print(a,b,c)

70 70 70

**Special Operators in Python:-**

***Membership Operators:*** in, not in --- returns boolean

**Identity operators:** 

**is** -- True if the operands are identical (refer to the same object)


 **is not** -- True if the operands are not identical (do not refer to the same object)

In [ ]:
# input list
lst = [["Hello", 10], ["abc", 20], ["python", "code"]]

# Checking if {abc,20} elements list present in nested list using in operator
print(["abc",20] in lst)

# Checking if {abc,code} elements list present in nested list using in operator
print(["abc","code"] in lst)
print(["abc","code"] not in lst)

True
False
True

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  # prints False

print(x2 is y2)  # prints True

print(x3 is y3)  # prints False


#Here, we see that x1 and y1 are integers of the same values, so they are equal as well as identical. Same is the case with x2 and y2 (strings).

#But x3 and y3 are lists. They are equal but not identical. It is because the interpreter locates them separately in memory although they are equal.

False
True
False

**Conditional Statements:** 

if, else , elif

[Reference link :](https://www.guru99.com/if-loop-python-conditional-structures.html)

In [ ]:
# if statement
age = 14
if(age>=18):
  print("You are eligible to vote")
else:
  print("not eligible to vote")

not eligible to vote

In [ ]:
# elif
num = 0
if(num > 0):
  print("positive number")
elif(num == 0):
  print("zero")
else:
  print("negative number")

zero

In [ ]:
# nested if - else

num = 2.3
if(num >= 0):
  if(num == 0):
    print("zero")
  else:
    print("positive number")
else:
  print("Negative Number")

positive number

**Control flow - Loops in python**:

**While loop :-**

Syntax:  
```
while(test-expression):
   body of while loop
```
![python-while-loop.png]()

In [ ]:
# while loop --- Prnt number 1 to 20
i = 1                   # intialization of variables
while(i<=20):           # stopping condition
  print(i, end=" ")     # inside while loop
  i = i+1               # updation

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

**For loops:-**

Before going for "for loop" we need to understand what is range() function.
For example:
range(3,13) : It will start from index/number 3 and goes upto 12. 13 is not included.

**Syntax:-** 
```
for variable_name in range():
    body of for loop
```
![python-for-loop.png]()

In [ ]:
# print the number from 1 to 10
for ele in range(1,11):
  print(ele,end=",")

1,2,3,4,5,6,7,8,9,10,

In [ ]:
# print only even number from 1 to 20
for ele in range(1,21):
  if(ele % 2==0):
    print(ele, end=" ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
# For loop with else:
for ele in range(2,21):
  if(ele%2==0):
    print(ele, end=" ")
else:
  print()
  print("No element left")

2 4 6 8 10 12 14 16 18 20
No element left

In [ ]:
# If you want to take jump in range then you can add step size in range as shown below:

for ele in range(2,21,2):
  print(ele, end=" ")

2 4 6 8 10 12 14 16 18 20

**Print table for number N which is entered by user in fromat as shown below:**
Suppose user enter 5 then table structure would be:

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

.

.

.

5 x 10 = 50

In [ ]:
# Solution to the above problem
num = int(input())
if(num != 0):
  for ele in range(1,11):
    print("{} x {} = {}".format(num,ele,num*ele))
else:
  print("your entered number is 0")

-8
-8 x 1 = -8
-8 x 2 = -16
-8 x 3 = -24
-8 x 4 = -32
-8 x 5 = -40
-8 x 6 = -48
-8 x 7 = -56
-8 x 8 = -64
-8 x 9 = -72
-8 x 10 = -80

**Break, Continue, Pass**


*   Break, and Continue can be used to alter the normal flow of a loop.
*   **Break ----** used to exit all coming iterations in a loop


*   **Continue ----** it just skips the current iterations and moves to the next iteration
*  **pass----** if you want to keep a block as empty just write pass

In [ ]:
# example for break
for i in range(1,10):
  if(i==5):
    break
  print(i)
else:
  print("No element left")

1
2
3
4

In [ ]:
# example for continue
for i in range(1,10):
  if(i==5):
    continue
  print(i)
else:
  print("No element left")

1
2
3
4
6
7
8
9
No element left

In [ ]:
# example for pass
if(4<6):
                         # I cant left this block empty as it will show syntax error

SyntaxError: ignored

In [ ]:
if(4<6):
  pass

In [ ]:
for i in range(1,10):
  pass

**For More Program relate to Basics Python you can visit below link:**
[Click Here](https://colab.research.google.com/drive/1KJF1fFw-CisQs6R0JWEXR4a0RvlzU0NG)