<a href="https://colab.research.google.com/github/ashish-pro/python-Learning/blob/master/Strings_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings in Python


*   Strings in python are the sequence of uncode characters
*   We can use single quotes or double quotes to represent strings


*   Multi-line strings can be represented by using triple quotes 
*   A string in python is consist of a series or sequence of characgers - letters, numbers and special characters


*   String can be indexed with 0 which is first character

In [ ]:
# For example
my_str = 'welcome'
print(my_str)
print(type(my_str))

welcome
<class 'str'>

**Indexing a String:-**

*   Accessing one character based on the position

In [ ]:
# Fetch the first element of String
print(my_str[0])

w

In [ ]:
# Fetch the second element of String
print(my_str[1])

e

**Note: len() function** is used to find length of string

In [ ]:
print(len(my_str))

7

In [ ]:
# Print the last character of string
print(my_str[6])

e

In [ ]:
# Print the last character of string 
# to be more generalize
print(my_str[len(my_str)-1])

e

**Negative Indexing:-**


*   writing len(my_str) is optinal

**For example :**  *my_str[len(my_str)-1] is same as my_str[-1]*

* That's how python give rise to negative index

In [ ]:
print(my_str[-1])

e

**String Slicing:-**

*   extracting multiple characters from a string(substring)
* **Syntax:**
```
str[start_index : end_index + 1]
```

In [ ]:
my_str = "welcome to city"
print(my_str[0:7])

welcome

In [ ]:
print(my_str[4:15])

ome to city

In [ ]:
# Print all the characters except the last one
print(my_str[0:-1])

welcome to cit

In [ ]:
# We can add step size in string slicing
# syntax:  str[start_index:end_index:step-size]
# by default step-size is 1
print(my_str[2:14:2])

loet i

In [ ]:
print(my_str[15:2:-2])

yi teo

In [ ]:
# Quick Hack to reverse a string
print(my_str[::-1])

ytic ot emoclew

In [ ]:
print(my_str[::])

welcome to city

**Important Strings Methods:-**

In [ ]:
st = "Welcome to Bangalore"

In [ ]:
# Converts everything in lowercase
print(st.lower())

welcome to bangalore

In [ ]:
# Converts everything in uppercase
print(st.upper())

WELCOME TO BANGALORE

In [ ]:
# Capital first character of each words
print(st.title())

Welcome To Bangalore

In [ ]:
# Returns the index of first occrence of word, otherwise -1
print(st.find("come"))

3

In [ ]:
# find() retuns -1, when the i/p is not present
print(st.find("machine"))

-1

In [ ]:
# Split the string with space " ", and creates a list
print(st.split())

['Welcome', 'to', 'Bangalore']

In [ ]:
# Count the number of times a string is appearing
print(st.count("o"))

3

In [ ]:
# Replace original string with new string
print(st.replace("Bangalore","Delhi"))

Welcome to Delhi

In [ ]:
# If i write a program to ask enter string from user, Suppose by mistake 
# user adds some extra whitespace on both left and right side
# To remove these white spaces we use strip function

new_str = input("Enter your String: ")

Enter your String:     python is fun

In [ ]:
# lstrip() ------- Removes whitespaces from left side
print(new_str.lstrip())

python is fun

In [ ]:
# rstrip() ------- Removes whitespaces from right side
print(new_str.rstrip())

    python is fun

In [ ]:
# strip() ------- Removes whitespaces from both side
print(new_str.strip())

python is fun

**Few Operations on Strings:-**

In [ ]:
# Concatination of two strings
print("abc"+"pqr")

abcpqr

In [ ]:
# can't cancatinate with other data type
print("abc"+3)

TypeError: ignored

In [ ]:
# can't cancatinate with other data type:- typecast to solve this problem
print("abc"+str(3))

abc3

In [ ]:
# Multipliaction of string with int n results into repetation string n times
print("hello"*3)

hellohellohello

In [ ]:
# Find the number of  Vowels in a string
print("Enter the string: ")
inp_str = input()
count = 0
for i in inp_str:
  if i in "aeiouAEIOU":
    count += 1
print("Number of vowels present in the string are : ", count)

Enter the string:
aeiouauauauauauauauauuauaaAAAAAOOOOIIII
Number of vowels present in the string are :  39

In [ ]:
# Check Wether the given string is palindrome or not?
# For example: "madam" is palindrome
# e.g: "coding" is not palindrome
print("Enter the string: ")
input_str = input()
rev_str = input_str[::-1]
if(input_str == rev_str):
  print("{} is palindrome".format(input_str))
else:
  print("{} is nat a palindrome".format(input_str))

Enter the string:
coding
coding is nat a palindrome

In [ ]:
# Another method to find Palindrome
print("Enter the string: ")
in_str = input()
rev_str =""
for i in in_str:
  rev_str = i + rev_str
if(in_str == rev_str):
  print("{} is palindrome".format(in_str))
else:
  print("{} is nat a palindrome".format(in_str))

Enter the string:
madam
madam is palindrome

**For more interview Questions**[click here](https://colab.research.google.com/drive/1KJF1fFw-CisQs6R0JWEXR4a0RvlzU0NG)